#Files I want to ignore
Coursera/Exploratory Data Analysis/nogit
Coursera/Getting and Cleaning Data/nogit
Coursera/Practical Machine Learning/nogit
Coursera/R Programming/nogit
Coursera/Regression Analysis/nogit
Coursera/Reproducible Research/nogit
Coursera/Statistical Inference.first time/nogit
Coursera/Statistical Inference.second time/nogit
Coursera/The Data Scientist's Toolbox/nogit
Coursera/a beginner's guide to irrational behavior/nogit
Python Resources/nogit
edx/Data Analysis for Life Sciences/nogit
edx/MITx 6.00.1x/nogit
kaggle/nogit
RUserMeetup/nogit
Machine Learning/nogit

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.Rhistory
